development/production/out/*
development/production/.idea/*
development/production/stickjumper/.idea/*
development/production/.idea/workspace.xml
development/production/.idea/workspace.xml

*.class
development/production/.idea/workspace.xml
